/**
	Demo alternate SCSS file
**/

body.sass-style {
	html & {
		background-image: url(/images/Lambanana-Yellow.jpg);
	}
}

body {
	&:before {
		content: $MyVar;
	}
	&:after {
		content: $MyVar2;
	}
}